*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



.slider-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.slider-slider {
    width: 90vw;
    height: calc(90vh - 1.5rem);
}

.slider-slider {
    background-color: rgba(13, 192, 216, 0);
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 1px;
}

.slider-event {
    background-color: rgba(31, 129, 199, 0.285);
    width: 50%;
    height: 50%;
    padding: 5px;
}

.slider-image {
    object-fit: cover;
    height: calc(90% - 1.5rem);
    width: 100%;
}

.slider-text, .slider-title {
    height: 2rem;
    font-size: 1.5rem;
    text-decoration: dotted;
    background-color: rgba(76, 156, 210, 0.084);
    color: rgb(255, 253, 253);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.slider-text{
    margin-bottom: -20px;
    background-color:rgba(76, 157, 210, 0.431);
    margin: 10px;
}
.slider-title {
    width: 90vw;
    background-color:rgba(76, 157, 210, 0.431);
    margin: 10px;
}
@media screen and (max-width: 768px){
    
    slider{
        flex-direction: column;
        margin-bottom: 2rem;
    }
}
