
.btn-flotante {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    color: #ffffff;
    border-radius: 5px;
    background-color: #3d51c1;
    padding: 18px 30px;
    position: fixed;
    bottom: 10px;
    right: 40px;
    transition: all 300ms ease 0ms;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    z-index: 99;
}
.btn-flotante:hover {
    background-color: #0ba5ec;; /* Color de fondo */
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.92);
    transform: translateY(-7px);
}
a {
    height: 75px;
    color: #ffffff;;
} 